.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

/* Include any custom CSS styling here! */

h4 {
    margin-left: 238px;
}

h5 {
    margin-left: -210px;
}

#attrInput1 {
    display: block;
    margin-right: 0px;
    margin-left: 238px;
    width: 170px;
    height: 35px;
}

#submitButton {
    position:absolute;
    top:0;
    right:0;
    height: 35px;
}

.controls1 {
    position:relative;
    width:470px;
}

#plot1 {
    margin-left: 100px;
}

#yearLabel {
    margin-left: 238px;
    width:50px;
    display: inline-block;
}

#year {
    position:relative;
}

#regionLabel {
    margin-left: 30px;
    width:60px;
    display: inline-block;
}

#Regions {
    position:relative;
}

#plot2 {
    margin-left: 200px;
}

#tooltip {
    background-color: #FFFFFF;
    opacity: 0.95;
}

#genreLabel {
    margin-left: 238px;
    width:50px;
    display: inline-block;
}

#Genres {
    position:relative;
}

#plot3 {
    margin-left: 100px;
}

#questions {
    margin-left: 100px;
}
